
.col_c4{
  position: absolute;
  height: 855px;
  width: 30px;
  top: 130px;
  left: 190px;
}
#col2{
  left: 320px;
}
#col3{
  left: 615px;
}
#col4{
  left: 750px;
}
#col5{
  left: 885px;
}
#col6{
  left: 1020px;
}
#col7{
  left: 1155px;
}
#col8{
  left: 460px;
}
.row_c4{
  position: relative;
  width: 985px;
  height: 30px;
  left: 190px;
  border-radius: 10px;
}
#row1{
  top: 120px;
  left: 190px;
}
#row2{
  top: 220px;
}
#row3{
  top: 320px;
}
#row4{
  top: 440px;
}
#row5{
  top: 540px;
}
#row6{
  top: 650px;
}
#row7{
  top: 750px;

}

#message {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size:40px;
  color: white;
  font-family: sans-serif;

}

#new_game {
  position: absolute;
  left: 30px;
  top: 150px;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;

}

#play_computer {
  position: absolute;
  left: 30px;
  top: 240px;
  width: 120px;
  height: 50px;
  border-radius: 5px;

}

#startGame {
  position: absolute;
  left: 30px;
  top: 300px;
  width: 120px;
  height: 50px;
  border-radius: 5px;

}

#time {
  position: absolute;
  left: 30px;
  top: 370px;
  color:white;
  font-size:2em;
  font-family: sans-serif;

}

td {
  border: 3px solid black;
  height: 130px;
  width: 130px;
  position: relative;
}

img{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
  width: 80px;
}
#table_button{
  position: absolute;
  left: 200px;
  top: 100px;
}

/*#table_two {
position: relative;
left: 80px;
}*/


nav button{
  width: 130px;
  height: 30px;
  margin: 0 11px 10px 0;
  border-radius: 5px;
}

.red{
  background-color: red;
}

.black{
  background-color: black;
}

body{
  background-image: url("http://www.greekk.com/sites/default/files/imagecache/product_full/201307/c4-bomb-alarm-clock.7700-35062.jpg")
}

#game_over{
  position: absolute;
  top: 900px;
  left: 300px;
  width: 2px;
  height: 2px;

}
