/*Melissa added these*/

#message {
  position: absolute;
  left: 30px;
  top:20px;
  font-size:40px;

}

#new_game {
  position: absolute;
  left: 30px;
  top: 150px;
  width: 90px;
  height: 30px;
  border-radius: 5px;

}
/*Melissa added these*/

td {
  border: 3px solid black;
  height: 90px;
  width: 90px;
}

#table_button{
  position: absolute;
  left: 400px;
  top: 100px;
}

/*#table_two {
position: relative;
left: 80px;
}*/


nav button{
  width: 90px;
  height: 30px;
  margin: 0 11px 10px 0;
  border-radius: 5px;
}

.red{
  background-color: red;
}

.black{
  background-color: black;
}

